html, body { 
	background-color: #FFFFFF; 
	height: 100%;
	padding: 0;
	margin: 0;
	zoom: 72%; 
}

/* the whole menu */
ul {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	margin: 0%;
	padding: 0%;
	position: absolute;
	width: 90%;
	font-family: 'Abel';
}

li { float:right; }

/* each element in the menu */
li a {
	display: inline-block;
	padding: 30px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
}

/* hovers over a content with the background color */
li a:hover { background-color: #808B96; }


/* MAIN PAGE index.html */

#home1-div {
	background-image: url("Images/HomeBackground.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100%;
	width: 100%;
	height: 100%;
	float: left;	
}

#home2-div {
	background-color: white;
	background-size: 100%;
	width: 100%;
	height: 50%;
	float: left;	
}

#home3-div {
	background-image: url("Images/HomeBackground2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	width: 100%;
	height: 100%;
	float: left;	
}

#home4-div {
	background-color: black;
	background-size: 100%;
	text-align: center;
	width: 100%;
	height: 21%;
	float: left;	
}
