html, body { 
	background-color: #FFFFFF; 
	height: 100%;
	padding: 0;
	margin: 0;
	zoom: 72%;
}


h1 {
	color: #FFFFFF;
	text-align: center;
	line-height: 600px;
}


/* the whole menu */
ul {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 90%;
	/*  border: 1px solid #e7e7e7;  */
}

li { float:right; }

/* each element in the menu */
li a {
	display: inline-block;
	padding: 30px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
}

/* hovers over a content with the background color */
li a:hover { background-color: #6D7B8D; }



#home1-div {
	background-image: url("HomeBackground.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100%;
	width: 100%;
	height: 100%;
	float: left;	
}

#home2-div {
	background-color: white;
	background-size: 100%;
	width: 100%;
	height: 50%;
	float: left;	
}

#home3-div {
	background-image: url("HomeBackground2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	width: 100%;
	height: 100%;
	float: left;	
}

#home4-div {
	background-color: #FDF2E9;
	background-size: 100%;
	padding-left: 1350px;
	width: 53.95%;
	height: 20%;
	float: left;	
}
