html, body { 
	background-color: #FFFFFF; 
	height: 100%;
	padding: 0;
	margin: 0;
	zoom: 72%; 
}

/* the whole menu */
ul {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	margin: 0%;
	padding: 0%;
	position: absolute;
	width: 90%;
	font-family: 'Abel';
}

li { float:right; }

/* each element in the menu */
li a {
	display: inline-block;
	padding: 30px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
}

/* hovers over a content with the background color */
li a:hover { background-color: #808B96; }


/* MAIN PAGE index.html */

#home1-div {
	background-image: url("Images/lavender(1).jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100%;
	width: 100%;
	height: 100%;
	float: left;	
}

#home2-div {
	background-color: white;
	background-size: 100%;
	width: 100%;
	height: 50%;
	float: left;	
}

#home3-div {
	background-image: url("Images/lavender.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	float: left;	
}

#home4-div {
	background-color: black;
	background-size: 100%;
	text-align: center;
	width: 100%;
	height: 21%;
	float: left;	
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}